h1 {

    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 0 5px #504e4e, 0 0 25px #504e4e, 0 0 50px #504e4e, 0 0 100px #504e4e;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    padding-top: 33px;

}

h1:hover {
    color: rgb(254, 238, 205);
    text-decoration: none;
    text-shadow: 0 0 5px #8894A2, 0 0 25px #8894A2, 0 0 50px #8894A2, 0 0 100px #8894A2;
    transition: 0.5s;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
   
}

h3 {
text-shadow:  0 0 5px #0e36b9, 0 0 25px #0e36b9, 0 0 50px #0e36b9, 0 0 100px #0e36b9;
text-align: center;
color: rgb(254, 238, 205);
background-color: rgb(17, 31, 34, 0.8); 

}

nav {
    background-color: rgba(17, 31, 34, 0.8);
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

nav .enlace {
    position: absolute;
    padding: 20px 50px;
}

nav .logo {
    height: 100px;
    width: 199px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;   
 

}

nav ul li a{
    color: rgb(254, 238, 205);
    text-decoration: none;
    font-size: 18px;
    padding: 7px 13px;
  
}

nav ul li a.active,
nav ul li a:hover {
    color: rgb(254, 238, 205);
    text-decoration: none;
    text-shadow: 0 0 5px #8894A2, 0 0 25px #8894A2, 0 0 50px #8894A2, 0 0 100px #8894A2;
    transition: 0.5s;
}


main {
    padding-top: 110px;
    }


footer {
    background: rgba(17, 31, 34, 0.8);
    color: #c8cd82;
    text-align: center;
    padding: 10px 10px;
    font-size: 10px;
}

footer div {
    display: inline;
    text-align: center;
}

footer ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer ul li i {
    margin-right: 15px;
}

body {
    font-family: monospace;
    color: #c8cd82;
    background-color: #111f22;
    margin: 10px;
}

body p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    overflow-x: hidden;
}

.container {
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.div-card {
    display: flexbox;
    margin: 6px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightblue;
    box-shadow: 10px 6px 6px rgba(211, 211, 211, 0.221);
    width: 200px;
    height: 250px;
}

.div-card:hover {
    background-color:rgb(229, 248, 255);
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

.carrito {
    padding: 7px;
}